.dashBoard {
  height: 100vh;
  display: flex;
  min-width: 95vw !important;
  max-width: 100vh !important;
  /* background-color: #191414; */
  flex-direction: column;
  padding: 20px;
  margin-top: 70px;

}
.searchlist{
 flex-grow: inherit;
}
/* flex-grow-1 my-2 */
.songplayer{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;

}
.header__middle {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
 

  flex: 0.7;
  min-height: 40px;
  max-height: 40px;
}
.header__middle > .MuiSvgIcon-root {
  color: grey !important;
}
.header__middle > input {
  border: none;
  width: 100%;

  padding: 10px;
  outline: none !important;
  font-size: medium;
  background-color: transparent;
}
